{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>
<div class="row text-center">
    <div class="col">
      <h1>Your Trip from {{start}} to {{end}}</h1>
      <h3>Created Playlist ({{time//60}} hr {{time%60}} min)</h3>
    </div>
</div>

<div style="height: 400px;  overflow-y:auto">
    <table>
        <tr>
            <th>Song Name</th>
            <th>Artist Name</th>
            <th>Song Duration</th>
            <th>City Name</th>
        </tr>
    
        {% for item in playlist %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td><script></script>
                  {{item[2]//60}} min {{item[2]%60}} sec</td>
                <td>{{item[3]}}</td>
            </tr>
        {% endfor %}
    </table>    
</div>

<form action="{{url_for('index')}}"><button class="btn btn-primary" id="addPlaylist">Add another playlist</button></form>
<form action="{{url_for('show_my_playlists')}}"><button class="btn btn-primary" id="showPlaylist">View playlists</button></form>

<div class="row text-center">
  <div class="col">
    <h3>Upcoming Concerts in {{end}}</h3>
  </div>
</div>

<div style="height: 200px;  overflow-y:auto">
  <table>
      <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Event</th>
          <th>Location</th>
      </tr>

      {% for item in concerts %}
          <tr>
              <td>{{item[0]}}</td>
              <td>{{item[1]}}</td>
              <td>{{item[2]}}</td>
              <td>{{item[3]}}</td>
          </tr>
      {% endfor %}
  </table>    
</div>

{% endblock %}